name: Generate Snake

on:
    # run automatically every 24 hours
    schedule:
        - cron: "0 */24 * * *"

    # allows to manually run the job at any time
    workflow_dispatch:

    # run on every push on the main branch
    push:
        branches:
            - main

jobs:
    build:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        timeout-minutes: 5

        steps:
            - name: Checkout
              uses: actions/checkout@v2.3.4

            - name: generate github-contribution-grid-snake.svg
              uses: Platane/snk/svg-only@v3
              with:
                  github_user_name: ${{ github.repository_owner }}
                  outputs: |
                      assets/github-contribution-grid-snake.svg
                      assets/github-contribution-grid-snake-dark.svg?palette=github-dark
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Push to GitHub
              uses: EndBug/add-and-commit@v7.2.1
              with:
                  branch: main
                  message: "Generate Contribution Snake"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
